<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LetsGo!</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="/static/logo.svg" alt="LetsGo Logo">
        </div>
        Let's Go!
    </header>
    <p>
        <ul>
        {% for flight in flights %}
            <li>{{ flight._id }}: Flight Number: {{ flight.name }} - Capacity: {{ flight.capacity }}</li>
        {% endfor %}
        </ul>
    </p>

</body>
</html>